<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2017 Louis S. Berman.

This file is part of OandaTicks.

OandaTicks is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

OandaTicks is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with OandaTicks.  If not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
  <configSections>
    <section name="nlog"
             type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OandaTicks.WinService.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <applicationSettings>
    <OandaTicks.WinService.Properties.Settings>
      <setting name="TimeoutSeconds"
               serializeAs="String">
        <value>30</value>
      </setting>
    </OandaTicks.WinService.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json"
                          publicKeyToken="30ad4fe6b2a6aeed"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0"
                         newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog autoReload="true"
        throwExceptions="true"
        internalLogFile="nlog-internals.log"
        xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="Product"
              value="OandaTicks" />
    <variable name="Logs"
              value="Logs" />
    <variable name="FileName"
              value="${Product}_${date:cached=true:format=yyyyMMddHHmmssfff}.log" />
    <variable name="FilePath"
              value="${Logs}/${date:format=yyyy}/${FileName}" />
    <targets>
      <target xsi:type="ColoredConsole"
              name="console"
              encoding="utf-8">
        <layout xsi:type="CSVLayout"
                delimiter="Tab"
                withHeader="False"
                quoting="Nothing">
          <column name="Time"
                  layout="${time}" />
          <column name="Level"
                  layout="${level}" />
          <column name="Message"
                  layout="${message}" />
        </layout>
      </target>
      <target name="file"
              xsi:type="AsyncWrapper">
        <target xsi:type="RetryingWrapper"
                retryDelayMilliseconds="3000"
                retryCount="10">
          <target xsi:type="File"
                  fileName="${FilePath}"
                  encoding="utf-8">
            <layout xsi:type="CSVLayout"
                    delimiter="Tab"
                    withHeader="False">
              <column name="DateTime"
                      layout="${date:format=MM/dd/yyyy HH\:mm\:ss.fff}" />
              <column name="Level"
                      layout="${level}" />
              <column name="Message"
                      layout="${message}" />
            </layout>
          </target>
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*"
              minLevel="Info"
              maxLevel="Fatal"
              writeTo="file" />
      <logger name="*"
              minLevel="Trace"
              maxLevel="Fatal"
              writeTo="console" />
    </rules>
  </nlog>
</configuration>